<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Đo nhiệt độ , độ ẩm trong phòng.</h1>
    <p>Welcome to BeetSoft!</p>
    <p id="t">Nhiệt độ:<%=t %> độ C<p/>
    <p id="h">Độ ẩm:<%=h %> %</p>
    <script src="/javascripts/index.js">
    </script>
  </body>
</html>
